body {
	background-image: url("media/pluto.jpg");
	background-size: cover;
}
h2 {
	font-family: "Apple Chancery", cursive;
	color: #FFFFFF;
	text-align: center;
}
table {
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
}
table, td, th {
	font-family: "Apple Chancery", cursive;
	color: #FFFFFF;
	height: 30px;
}
td, th {
	text-align: center;
	height: 30px;
	color: #FFFFFF;
}